<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>First Class Costs</title>
    <link rel="stylesheet" type="text/css" href="/" />
  </head>
  <body>
    <h2>Your First Class Shipping Cost is:</h2>


      <p>Mailing Weight: <%= weight %></p>

      <p>Mailing Type: <%= postalType %></p>

      <p>Mailing Cost: $<%= cost %></p>


  </body>
</html>
